/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* stylelint-enable */

/* Begin site styles below */

/* Base font-size: 22px;
   Base line-height: 28px;
   Modularscale: https://www.modularscale.com/?22&px&1.2
*/

/* CSS Styles for About page */

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; /* 16 / 16 = 1em */
  line-height: 1.125em; /* 18/16 = 1.125em */
  background-color: #E3E0CF;
  color:black;
  margin: 0.75em; /* 12/16 = 0.75em */
}

img {
  display: block;
  max-width: 100%;
}

figcaption {
  color: orange;
  background: rgba(10, 10, 40, 0.8);
}

a {
  text-decoration: none;
}

h1 {
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}

.header figure {
  padding-top: 11px;
  padding-bottom: 11px;
}

.brief {
  padding-right: 11px;
  padding-bottom: 11px;
}

.education {
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}
.extracurricular {
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}

.sports {
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}

.connection {
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}

.footer {
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}

@media query screen and (min-width: 120px) {

.header figure {
  position: relative;
  width: 50%;
  padding: 11px;
}

figcaption {
  position: absolute;
  width: auto;
  bottom: 0;
  padding: 22px;
}
}

@media screen and (min-width:450px) {
  .header figure {
    width: 50%;
    float:left;
    padding: 11px;
  }
}

/* CSS Styles for VRBlog page */

html#vrblog {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; /* 16 / 16 = 1em */
  line-height: 1.125em; /* 18/16 = 1.125em */
  color:black;
  margin: 0.75em; /* 12/16 = 0.75em */
  background-color: #fffafa;
}

.rossi {
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}

.info {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}

.career {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}

.year {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}

.awards {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}

.references {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
 }
