/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* stylelint-enable */

/* Begin site styles below */

/* Base font-size: 18px;
   Base line-height: 24px;
   Modularscale: https://www.modularscale.com/?22&px&1.2
*/

/* CSS Styles for About page */

* {
  box-sizing: border-box;
}

html {
  background-color: #E3E0CF;
  color: black;
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125em; /* 18/16 = 1.125em */
  line-height: 1.333em; /* 24/18 = 1.333em */
  margin: 0.555em; /* 10/18 = 0.555em */
}

img {
  display: inline-block;
  max-width: 100%;
  padding-top: 0.6111em; /* 11/18 = 0.6111em */
  vertical-align: top;
}

.header figcaption {
  background: rgba(10, 10, 40, 0.8);
  color: orange;
  text-align: center;
  width: 100%;
}

#activities li,
#sports li {
  list-style-type: disc;
  list-style-position: inside;
}

h1,
h2,
h3,
h4,
.footer {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  padding-bottom: 0.6111em; /* 11/18 = 0.6111em */
  padding-top: 0.6111em; /* 11/18 = 0.6111em */
  padding-right: 0.6111em; /* 11/18 = 0.6111em */
  text-decoration: underline;
}

#navigation li {
  margin-top: 0.444em; /* 8/18 = 0.444em */
  margin-bottom: 0.444em; /* 8/18 = 0.444em */
}

.title {
  text-decoration: none;
  padding-left: 0.444em; /* 22/18 = 1.222em */
}

#navigation a {
  text-decoration: none;
  background-color: #E3E0CF;
  display: block;
  line-height: 0;
  padding: 1.222em;/* 22/18 = 1.222em */
  color: black;
}

#navigation a:hover,
#navigation a:active,
#navigation a:focus {
  background-color: grey;
}

/* CSS Styles for Resume page */

html#resume {
  color: black;
  background-color: white;
}

.portrait figcaption {
  background: #191970;
  color: white;
  text-align: center;
  width: 100%;
}

.role {
  font-weight: 500;
}

#universities li,
#skills li,
#amazon li,
#dell li,
#hpi li,
#hpe li,
#certification li {
  list-style-type: disc;
  list-style-position: inside;
}

@media screen and (min-width: 13.75em) { /* 220/16 = 13.75em */

  .header figure,
  .portrait figure {
    position: relative;
    width: 100%;
  }

  .portrait figcaption,
  .header figcaption {
    overflow: hidden;
    position: static;
    text-align: center;
    width: auto;
  }
}

@media screen and (min-width: 36.875em) {  /* 590/16 = 36.875em */

  #navigation ul {
    display: flex;
  }
  #navigation ul > li {
    flex: 1 0 auto;
  }

  .header figure,
  .portrait figure {
    float: left;
    padding-left: 0.555em; /* 10/18 = 0.888em */
    padding-bottom: 0.555em; /* 10/18 = 0.555em */
    padding-right: 0.888em; /* 16/18 = 0.888em */
    width: 50%;
  }

  .portrait figure {
    float: right;
  }
}
